@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(172, 255, 47, 0.367);
  }